@charset "utf-8";
/* CSS Document */
/* css0 */
@font-face {
	font-family: local;
	src: url(Gillroy.otf);
}
@font-face {
	font-family: local1;
	src: url(Gillroyl.otf);
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: rgba(40,40,40,1.00);
}
body {
	height: 4500px;
	padding: 50px;
	background: linear-gradient(135deg, rgba(216,0,107,1.00), rgba(16,76,239,1.00)) no-repeat;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #aaa;
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(59,59,59,0.70);
}
header {
	background-color: white;
	height: 750px;
	box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.1);
}
#icon {
	position: absolute;
	width: 50px;
	margin: 50px 0 0 5%;
}
.font {
	font-family: local;
	font-size: 24px;
	color: rgba(40,40,40,1.00);
}
.font1 {
	font-family: local1;
	font-size: 25px;
	color: rgba(40,40,40,1.00);
}
.anchors {
	position: absolute;
	margin-left: 50%;
}
#books {
	position: absolute;
	margin-left: 55%;
	margin-top: 200px;
	width: 360px;
}
.name {
	position: absolute;
	margin-top: 195px;
	margin-left: 15%;
	font-size: 84px;
}
.desk {
	position: absolute;
	margin: 300px 0px 0px 15%;
	font-size: 30px;
	width: 470px;
	color: rgba(27,27,27,1.00);
}
.color {
	font-weight: 900;
	color: rgba(217,0,128,1.00);
}
.button {
	position: absolute;
	margin-left: 15%;
	font-size: 24px;
	border: 1.5px solid;
	border-radius: 30px;
	padding: 10px 18px;
	border-color: rgba(212,0,3,1.00);
	margin-top: 495px;
}
.button:hover {
	transform: translate(15px);
	transition: 0.2s ease-in;
}
.anchors {
	position: absolute;
	margin: 60px 0px 0px 52%;
}
.anchor {
	display: inline-block;
	margin: 0px 20px;
	font-size: 21px;
	font-weight: bold;
}
.anchor:hover {
	border-bottom: solid;
	transition: 0.2s;
}
.content {
	height: 1500px;
	background-color: white;
	position: relative;
}
.about {
	display: inline-block;
	position: relative;
}
#img {
	width: 100%;
	transform: scaleY(1.02);
}
.abouttext {
	display: inline-block;
	position: absolute;
	text-align: center;
	top: 120px;
	left: 10%;
	width: 80%;
	font-size: 100px;
	color: white;
}
.opis {
	position: relative;
	height: 700px;
	background-color: white;
	margin-top: 120px;
}
.k {
	position: absolute;
	margin: 100px 0px 0px 50px;
	letter-spacing: 3px;
	font-weight: bold;
	transform: rotate(-90deg);
	border-bottom: solid;
}
.blank {
	position: absolute;
	margin: 320px 0px 0px 64%;
	width: 280px;
}
#imgr {
	position: absolute;
	width: 40%;
	left: 55%;
	top: 300px;
}